{{clientName}}, you really don't want this. You have not repaid your overdue loan after many messages from us. Your contacts have now been notified of your loan default status. Dial *561# to stop further damage
