{{clientName}}, your {{productConfig.productName}} loan is in default and now has a balance of {{balance}}. We will continue to attempt to debit your account within the next {{daysUntilContactsNotified}} days. If debit remains unsuccessful, we will send messages to your contacts.