{{clientName}}, this is {{bankName}}. You have an outstanding {{productConfig.productName}} loan balance of {{balance}} which you have not paid even after multiple messages. Since you have refused to pay the loan or arrange a solution with us, we are notifying your contacts about your loan. {{{productConfig.extendLoanInstructions}}} {{{productConfig.customerServiceInstructions}}} if you need assistance.